* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 3rem;
}

.logo img{
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 5%;
}

h1 {
    font-size: 2rem;
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #555;
    color: #fff;
}

main {
    padding: 2rem;
}

section {
    background-color: #fff;
    margin-bottom: 2rem;
    padding: 1.5rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

section#gallery {
  text-align: center;
}

section#gallery img {
  margin: 1rem;
  width: 200px;
}

/* Application Form Styles */
.application-form {
    margin-top: 30px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.application-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.application-form input[type="text"],
.application-form input[type="email"],
.application-form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.application-form textarea {
    width: 100%;
    height: 100px;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    box-sizing: border-box;
}

.application-form button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.application-form button:hover {
    background-color: #0056b3;
}